@using RestaurantWebDAL.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RestaurantWebBL.Interfaces
@model IEnumerable<LocalizationCreateModel>
@inject SignInManager<User> SignInManager
@inject ILocalizationService LocalizationService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="col-auto me-auto">@LocalizationService.GetStringWithCode("localization")</h1>
    @if (SignInManager.IsSignedIn(User))
    {
            <p class="col-auto mt-auto mb-auto">
            <a class="btn btn-success" asp-action="Create">@LocalizationService.GetStringWithCode("localization-create")</a>
            </p>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @LocalizationService.GetStringWithCode("localization-iso")
            </th>
            <th>
                @LocalizationService.GetStringWithCode("localization-stringcode")
            </th>
            <th>
                @LocalizationService.GetStringWithCode("localization-localizedsting")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.IsoLanguageCode)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.StringCode)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.LocalizedString)
                    </td>
                    <td>
                    @using (Html.BeginForm("Delete", "Localization", new { id = item.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                    {
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <input class="btn btn-danger" type="submit" value="@LocalizationService.GetStringWithCode("localization-delete")" />
                            <a class="btn btn-secondary my-1" asp-action="Update" asp-route-id="@item.Id">@LocalizationService.GetStringWithCode("localization-edit")</a>
                        }
                    }
                    </td>
                </tr>
        }
    </tbody>
</table>
