@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RestaurantWebBL.Interfaces
@using RestaurantWebDAL.Models
@model RestaurantViewModel
@inject SignInManager<User> SignInManager
@inject ILocalizationService LocalizationService

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.Name</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" sizes="16x16" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>

    <div class="row">
        <h1 class="display-1">@Model.Name</h1>
        @if (SignInManager.IsSignedIn(User))
        {
            <p class="col-11">
                <a asp-action="Update" class="btn btn-success btn-sm">@LocalizationService.GetStringWithCode("en","update-restaurant-button").LocalizedString</a>
            </p>
        }
    </div>

    <p class="lead">@Model.Description</p>

<div class="container">
        <h1 class="text-center">@LocalizationService.GetStringWithCode("en","restaurant-contacts").LocalizedString</h1>
    <hr>
    <div class="row">
        <div class="col-sm-8">
                <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=@Model.Latitude,@Model.Longitude+(Restaurant)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="320" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>

        <div class="col-sm-4">
            <h3>@Model.Name</h3>
            <hr align="left" width="50%">
                <h4 class="pt-2">@LocalizationService.GetStringWithCode("en","restaurant-address").LocalizedString</h4>
            <i class="fas fa-globe" style="color: #000"></i>@Model.Address<br>
                <h4 class="pt-2">@LocalizationService.GetStringWithCode("en","restaurant-phone").LocalizedString</h4>
            <i class="fas fa-phone" style="color: #000"></i> <a href="tel:+">+421 @Model.Phone</a><br>
                <h4 class="pt-2">@LocalizationService.GetStringWithCode("en","email").LocalizedString</h4>
            <i class="fa fa-envelope" style="color: #000"></i> <a href="mailto:">@Model.Email</a><br>
        </div>
    </div>
</div>

<div class="container">
        <h1 class="text-center">@LocalizationService.GetStringWithCode("en","restaurant-contact-us").LocalizedString</h1>
    <hr>

    <div class="row">
        <div class="col-6">
            <form asp-action="ContactUsMail">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ContactName" class="control-label">@LocalizationService.GetStringWithCode("en","name").LocalizedString</label>
                        <input asp-for="ContactName" class="form-control" type="text" required="true" placeholder="@LocalizationService.GetStringWithCode("en","contact-form-name").LocalizedString" />
                    <span asp-validation-for="ContactName" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <label asp-for="ContactMail" class="control-label">@LocalizationService.GetStringWithCode("en","email").LocalizedString</label>
                        <input asp-for="ContactMail" class="form-control" type="email" required="true" placeholder="@LocalizationService.GetStringWithCode("en","contact-form-email").LocalizedString" />
                    <span asp-validation-for="ContactMail" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <label asp-for="ContactMessage" class="control-label">@LocalizationService.GetStringWithCode("en","restaurant-message").LocalizedString</label>
                    <textarea asp-for="ContactMessage" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="ContactMessage" class="text-danger"></span>
                </div>

                <div class="form-group">
                        <input type="submit" value="@LocalizationService.GetStringWithCode("en","submit-form-button").LocalizedString" class="btn btn-primary mt-1" />
                </div>
            </form>
        </div>
        <div class="col-6">
            <div>
                <img class="img-fluid rounded float-end" src="Assets/food-pizza-baking.jpg"/>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>