@using RestaurantWebDAL.Models
@using Microsoft.AspNetCore.Identity
@using RestaurantWebBL.Interfaces
@inject SignInManager<User> SignInManager
@inject ILocalizationService LocalizationService

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">@LocalizationService.GetStringWithCode("greetings") @User.Identity?.Name!</span>
        </li>
        <li class="nav-item">
            @using (Html.BeginForm("Logout", "Identity", new { returnUrl = Url.Action("Index", "Restaurant") }, FormMethod.Post))
            {
                <button type="submit" class="nav-link btn btn-link text-dark">@LocalizationService.GetStringWithCode("logout")</button>
            }
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Login", "Identity")">@LocalizationService.GetStringWithCode("login")</a>
        </li>
    }
</ul>
