@using RestaurantWebDAL.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DailyMenuViewModel>
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Daily Menus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h1 class="col-auto me-auto">Daily Menus</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p class="col-auto mt-auto mb-auto">
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
    }
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meal)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meal.Name)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> 
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
               
            </td>
        </tr>
    }
    </tbody>
</table>
