@using RestaurantWebDAL.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RestaurantWebBL.Interfaces
@model IEnumerable<DailyMenuViewModel>
@inject SignInManager<User> SignInManager
@inject ILocalizationService LocalizationService

@{
    ViewData["Title"] = @LocalizationService.GetStringWithCode("daily-menu");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h1 class="col-auto me-auto">@LocalizationService.GetStringWithCode("daily-menu")</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p class="col-auto mt-auto mb-auto">
            <a asp-action="Create" class="btn btn-success">@LocalizationService.GetStringWithCode("create")</a>
        </p>
    }
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @LocalizationService.GetStringWithCode("daily-menu-date")
        </th>
        <th>
            @LocalizationService.GetStringWithCode("daily-menu-day")
        </th>
        <th>
            @LocalizationService.GetStringWithCode("daily-menu-price")
        </th>
        <th>
            @LocalizationService.GetStringWithCode("daily-menu-meal")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meal.Name)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">@LocalizationService.GetStringWithCode("details")</a> 
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">@LocalizationService.GetStringWithCode("delete")</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">@LocalizationService.GetStringWithCode("edit")</a>
                }
               
            </td>
        </tr>
    }
    </tbody>
</table>
