@using RestaurantWebDAL.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RestaurantWebBL.Interfaces
@model List<WeeklyMenuViewModel>
@inject SignInManager<User> SignInManager
@inject ILocalizationService LocalizationService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="col-auto me-auto">@LocalizationService.GetStringWithCode("weekly-menu")</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p class="col-auto mt-auto mb-auto">
            <a asp-action="Create" class="btn btn-success">@LocalizationService.GetStringWithCode("create")</a>
        </p>
    }
</div>

@{ bool hasDailyMenu = false;}

<div class="row">
    <div class="col-2">
        <b>@LocalizationService.GetStringWithCode("weekly-menu-date")</b>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-5">
                <b>@LocalizationService.GetStringWithCode("daily-menu-day")</b>
            </div>
            <div class="col-5">
                <b>@LocalizationService.GetStringWithCode("meal")</b>
            </div>
            <div class="col-2">
                <b>@LocalizationService.GetStringWithCode("meal-price")</b>
            </div>
        </div>
    </div>
</div>


@foreach (WeeklyMenuViewModel item in Model)
{
    if (!SignInManager.IsSignedIn(User) && !item.DailyMenusEnumerable.Any())
    {
        continue;
    }
    hasDailyMenu = true;
    <div class="row mb-1"  style="min-height: 40px">
        <div class="col-2">
            @item.DateFrom.ToShortDateString() - @item.DateTo.ToShortDateString()
        </div>
        <div class="col-9">
            @Html.DisplayFor(m => item.DailyMenusEnumerable, "DailyMenuList")
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-1">
                @using (Html.BeginForm("Delete", "WeeklyMenu", new {id = item.Id},
                    FormMethod.Post, true, new {@class = "form-inline"}))
                {
                    
                        <input class="btn btn-danger" type="submit" value="@LocalizationService.GetStringWithCode("delete")"\>
                    
                }
            </div>
        }
    </div>
}

@if(!hasDailyMenu)
{
    <h1 class="m-auto">@LocalizationService.GetStringWithCode("no-weekly-menus")</h1>
}
