@using RestaurantWebBL.Interfaces
@model DrinkViewModel
@inject ILocalizationService LocalizationService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@LocalizationService.GetStringWithCode("drink-details")</h1>

<div>
    <h4>@LocalizationService.GetStringWithCode("drink")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @LocalizationService.GetStringWithCode("drink-name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @LocalizationService.GetStringWithCode("drink-volume")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @LocalizationService.GetStringWithCode("drink-price")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-lg btn-primary" asp-action="Index">@LocalizationService.GetStringWithCode("drink-back")</a>
</div>
