@using RestaurantWebBL.Interfaces;
@model DrinkViewModel
@inject ILocalizationService LocalizationService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Drink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @LocalizationService.GetStringWithCode("en","drink-name").LocalizedString
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @LocalizationService.GetStringWithCode("en","drink-volume").LocalizedString
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @LocalizationService.GetStringWithCode("en","drink-price").LocalizedString
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-lg btn-primary" asp-action="Index">@LocalizationService.GetStringWithCode("en","drink-back").LocalizedString</a>
</div>
