@using RestaurantWebDAL.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RestaurantWebBL.Interfaces
@model IEnumerable<DrinkViewModel>
@inject SignInManager<User> SignInManager
@inject ILocalizationService LocalizationService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="col-auto me-auto">Drinks</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p class="col-auto mt-auto mb-auto">
            <a class="btn btn-success" asp-action="Create">@LocalizationService.GetStringWithCode("create-drink")</a>
        </p>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @LocalizationService.GetStringWithCode("drink-name")
            </th>
            <th>
                @LocalizationService.GetStringWithCode("drink-volume")
            </th>
            <th>
                @LocalizationService.GetStringWithCode("drink-price")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Drink", new { id = item.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                    {
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">@LocalizationService.GetStringWithCode("drink-details")</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <input class="btn btn-danger" type="submit" value="@LocalizationService.GetStringWithCode("drink-delete")" />
                            <a class="btn btn-secondary my-1" asp-action="Update" asp-route-id="@item.Id">@LocalizationService.GetStringWithCode("drink-edit")</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
