@using RestaurantWebBL.Interfaces
@model MealViewModel
@inject ILocalizationService LocalizationService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@LocalizationService.GetStringWithCode("meal-details")</h1>

<div>
    <h4>@LocalizationService.GetStringWithCode("meal-single")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @LocalizationService.GetStringWithCode("meal-name")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @LocalizationService.GetStringWithCode("meal-price")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @LocalizationService.GetStringWithCode("meal-description")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
         <dt class = "col-sm-2">
            @LocalizationService.GetStringWithCode("meal-allergens")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Allergens, "Allergens")
        </dd>
    </dl>
</div>
<div class="col-6">
    <div>
        <img class="w-50 p-3" src="@Url.Content(Model.Picture)" />
    </div>
</div>
<div>
    <a class="btn btn-lg btn-primary" asp-action="Index">@LocalizationService.GetStringWithCode("meal-back")</a>
</div>
