@model MealViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allergens)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Allergens, "Allergens")
        </dd>
    </dl>
</div>
<div class="col-6">
    <div>
        <img class="w-50 p-3" src="@Url.Content(Model.Picture)" />
    </div>
</div>
<div>
    <a class="btn btn-lg btn-primary" asp-action="Index">Back</a>
</div>
